@model IEnumerable<_3rdSemesterProject.WebSite.Models.DTO.RouteDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Captain Jack's Channel Cruise</h1>
        </div>
    </div>
</div>
@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}

<div class="flex-container">
    
    <div>
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Departures" asp-action="DeparturesOnRoute" asp-route-id="@Model.ElementAt(0).PK_routeID">
                <img src="/Images/Departure1.jpg" alt="Route1" width="250" height="320">
            </a>
            <div class="centered">
                @Model.ElementAt(0).Title
                <br />
                @Model.ElementAt(0).Duration min
            </div>
        </div>
    </div>

    
    <div>
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Departures" asp-action="DeparturesOnRoute" asp-route-id="@Model.ElementAt(1).PK_routeID">
                <img src="/Images/Departure2.jpg" alt="Route2" width="250" height="320">
            </a>
            <div class="centered">
                @Model.ElementAt(1).PK_routeID
                <br />
                @Model.ElementAt(1).Title
                <br />
                @Model.ElementAt(1).Duration min
            </div>
        </div>
    </div>

    
    <div>
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-controller="Departures" asp-action="DeparturesOnRoute" asp-route-id="@Model.ElementAt(2).PK_routeID">
                <img src="/Images/Departure3.jpg" alt="Route3" width="250" height="320">
            </a>
            <div class="centered">
                @Model.ElementAt(2).PK_routeID
                <br />
                @Model.ElementAt(2).Title
                <br />
                @Model.ElementAt(2).Duration min
            </div>
        </div>
    </div>
</div>
